<%= simple_form_for([current_user, @photo]) do |f| %>
	<div class="thing"><%= f.input :public %></div>
	<%= f.input :caption %>
	<%= f.input :image, label: "Image URL" %>
	<!-- create gets called on submit -->
	<div><%= f.submit %></div>

<% end %>